<!-- Version 1- Set up all data fields, heading and button -->
<!-- Version 2- Added bootstrap features in angular.json. Added Container class, mt-4, mb-3 input group class
      and added bg-primary and text-white to make the presentation look better -->


<!-- The container centralises the display and keeps the display in line. Initially in version 1 the code was displayed clung
      to the left hand side which didn't look pleasing Ref:https://getbootstrap.com/docs/5.0/layout/containers/ -->
<!-- Below it then are the heading of the screen and the sub-heading with the sub-heading having tect-muted to make the 
      colour of the text more grey -->
<div class="container">
<h1>Greenfeed Pre-trial Machine Level Data
  <br>
  <small class="text-muted"> Insert Data related to Methane Trials</small>
</h1>
<!-- The form is then opened up below. All input fields are given the class mb-3 input group and have all got the class
      input-group-text bg-primary text-white to make the background of the inpit field headings blue with white text. Ref:https://getbootstrap.com/docs/4.0/utilities/colors/ and https://getbootstrap.com/docs/4.0/utilities/spacing/ -->
<!-- There are six dropdown boxes for input fields- Greenfeed ID, Owner, Farm, Diet, Animal type and sex. All of these have options to choose from Ref: https://getbootstrap.com/docs/5.0/forms/select/ -->
<!-- The other three are a different, The start date is a date-picker, Number of cattle is a number area and Comments is a text area. Ref:https://stackoverflow.com/questions/68662850/datepicker-bootstrap-5 -->
<!-- At the bottom is a button that will be used to save the data-->
<form [formGroup]="dataForm" (ngSubmit)="onSubmit()" class="mt-4">
  <div class="mb-3 input-group">
    <span class="input-group-text bg-primary text-white">Start Date:</span>
    <input type="date" class="form-control" formControlName="startDate">
  </div>
  <div class="mb-3 input-group">
    <span class="input-group-text bg-primary text-white">Greenfeed ID:</span>
    <select class="form-select" formControlName="greenfeedId">
      <option value="295">295</option>
      <option value="296">296</option>
      <option value="395">395</option>
      <option value="396">396</option>
    </select>
  </div>
  <div class="mb-3 input-group">
    <span class="input-group-text bg-primary text-white">Owner:</span>
    <select class="form-select" formControlName="owner">
      <option value="ABP/MTI">ABP/MTI</option>
      <option value="ICBF">ICBF</option>
    </select>
  </div>
  <div class="mb-3 input-group">
    <span class="input-group-text bg-primary text-white">Farm:</span>
    <select id="farm" class="form-select" formControlName="farm">
      <option value="ABP Shepards">ABP Shepards</option>
      <option value="Parkduv">Parkduv</option>
      <option value="Dawn">Dawn</option>
      <option value="Kepak">Kepak</option>
    </select>
  </div>
  <div class="mb-3 input-group">
    <span class="input-group-text bg-primary text-white">Diet:</span>
    <select id="diet" class="form-select" formControlName="diet">
      <option value="Grass">Grass</option>
      <option value="Indoor">Indoor</option>
    </select>
  </div>
  <div class="mb-3 input-group">
    <span class="input-group-text bg-primary text-white">Animal Type:</span>
    <select id="animalType" class="form-select" formControlName="animalType">
      <option value="Dairy x Beef">Dairy x Beef</option>
      <option value="Suckler">Suckler</option>
      <option value="Milking Dairy Cows">Milking Dairy Cows</option>
    </select>
  </div>
  <div class="mb-3 input-group">
    <span class="input-group-text bg-primary text-white">Sex:</span>
    <select id="sex" class="form-select" formControlName="sex">
      <option value="Steer">Steer</option>
      <option value="Cow">Cow</option>
      <option value="Heifer">Heifer</option>
      <option value="Steer/Heifer">Steer/Heifer</option>
    </select>
  </div>
  <div class="mb-3 input-group">
    <span class="input-group-text bg-primary text-white">Number of Cattle:</span>
    <input type="number" id="numberOfCattle" class="form-control" formControlName="numberOfCattle">
  </div>
  <div class="mb-3 input-group">
    <span class="input-group-text bg-primary text-white">Comments:</span>
    <textarea id="comments" class="form-control" formControlName="comments"></textarea>
  </div>
  <button type="submit" class="btn btn-success">Submit</button>
</form>
</div>
